.*.un~
.env
_delete
app/
cache/
conf/Caddyfile.*
conf/daapd/forked-daapd.conf.pre-docker
conf/jellyfin/data/
conf/jellyfin/cache/
conf/jellyfin/log/
conf/statping/logs/
conf/statping/statping.db
db/
delete/
docker-compose.yml.*
log/
tools/
www/cloud.haume.nz/
